{% extends 'taskmanagerApp/base.html' %}
{% load static %}

{% block title %}タスク時間管理{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">Task Manager</a>
    </nav>
    <div class="container mt-4">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="no" alue="1">
            <div class="input-group">
                <span class="input-group-text col-2 text-center">今日のタスク</span>
                <textarea id="task_text" name="input_task" class="form-control" aria-label="With textarea" style="height:200px" placeholder="本日のタスクを入力してくださいね♪">{% if input_task %}{{ input_task }}{% endif %}</textarea>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary mr-4" id="add" name="add">タスク登録</button>
                <button type="button" class="btn btn-secondary" id="finish" name="finish">業務終了</button>
            </div>
        </form>
    </div>
	{% if task_list %}
    <div class="container mt-4 mb-5" id="today_task_list">
        <div class="list-group">
			{% for task in task_list %}
			<button type="button" class="list-group-item list-group-item-action list-group-item-warning d-flex justify-content-between">
				<div class="today-task">
					<p class="task mb-1">{{ task.task_name }}</p>
					<p class="plan-time mb-1">予定：{{ task.task_hour }}</p>
					<p class="elapsed_time mb-1">実績：</p>
				</div>
				<div class="timer">
					<!--ここに前原さんから共有してもらったタイマーを実装して右寄せ-->
					ここにタイマーを表示させる
				</div>
			</button>
			{% endfor %}
        </div>
    </div>
	{% endif %}
{% block extra_js %}
<!--$('#add').click(function() {-->
<!--    let task_list = [];-->
<!--    // 入力値取得-->
<!--    let input_task_list = $('#task_text').val().split('\n');-->
<!--    //正規表現-->
<!--    regex_pattern = /^\d+\.\s*(\[.+?\]\s*.+?)\s*->\s+予定[:：]\s*+(.+?)$/;-->
<!--    for (var task of task_list) {-->
<!--        if(task.trim()) {-->
<!--            matches = task.match(regex_pattern);-->
<!--            if(matches) {-->
<!--                let task_name = matches[0];-->
<!--                let task_hour = matches[1];-->
<!--                // ここでボタンリストを作成する関数を呼び出す（引数はtask_name と　task_hour)-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--    // 受け取った入力を正規表現で分類（改行で区別、:の数字で時間表記へ直すなど必要な値を抽出）-->
<!--});-->
<script>
$(function(){
});
</script>
{% endblock %}
{% endblock %}