{% extends 'taskmanagerApp/base.html' %}
{% load static %}

{% block title %}アカウント登録{% endblock %}

{% block content %}

<div class = "container h-100 mt-5">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="wrapper">
            <h3 class="form-signin-heading text-center">登録情報確認</h3>
            <hr class="colorgraph"><br>
            <p class="text-left">ユーザー名　　：{{ name }}</p>
            <p class="text-left">メールアドレス：{{ email }}</p>
            <p class="text-left">パスワード　　：{{ password }}</p>
            <form action="" method="post" name="register_Form" class="form-register">
                {% csrf_token %}
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="register">登録する</button>
            </form>
            {% for error in form.non_field_errors %}
                <p class="text-center"><b>{{ error }}</b></p>
            {% endfor %}
            <div class="mt-4 text-center d-flex">
                <a class="mr-5" href="{% url 'register' %}">戻る</a>
                <a href="{% url 'login' %}">既にアカウントがある方はこちら</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block extra_js %}
{% endblock %}